.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 75vh;
}

.car-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

.header-text {
  text-align: center;
  font-family: 'Bold';
  color: #425668;
  font-size: 30px;
  margin-top: 10vh;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 120vh;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  width: 130px;
}

.icon-text {
  font-family: 'Bold';
  color: #425668;
  text-align: center;
  margin-top: 10px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 1280px;
  background-color: #425668;
  margin-top: 100px;
}

.box-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 1280px;
  background-color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box-text {
  font-family: Bold;
  font-size: 30px;
  color: #ffffff;
  margin-right: 700px;
}

.box-text2 {
  font-family: Bold;
  font-size: 30px;
  color: #425668;
  margin-right: 700px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #425668;
  color: #ffffff;
  width: 115px;
  height: 45px;
  font-family: 'Bold';
  font-size: 16px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.button2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #425668;
  width: 115px;
  height: 45px;
  font-family: 'Bold';
  font-size: 16px;
  text-align: center;
  border: 2px solid #425668;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.button:last-child {
  margin-right: 0;
}

